@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #3a3a3a;
    background-color: #dad4c9;
}

/* headings */

h1, h2 {
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    color: #4EAB0E;
}

/* logo and nav */

#logo {
    float: left;
    font-size: 280%;
    margin-left: 25px;
}

#menu {
    font-size: 120%;
}

#logo, #menu {
    line-height: 80px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px; 
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    background-color: #4EAB0E;
    color: #fff;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-img.jpg) no-repeat center center;
    background-size: cover;
}

/* Welcome to Retro Bikes */

#introduction {
    height: 175px;
}

#welcome {
    font-size: 200%;
    text-align: center;
    padding: 20px;
}

#introduction p {
    text-align: center;
    padding: 0 10px;
}

/* Hear from the riders*/

#riders {
    height: 600px;
    text-align: center;
}

#hear-from {
    text-align: center;
    padding: 40px;
}

#left-side  {
    padding-top: 30px;
    width: 50%;
    float: left;
}

#right-side {
    padding-top: 30px;
    width: 50%;
    float: right;
}

#left-side p, #right-side p {
    padding: 0 20px;
}

.left-side-rider {
    width: 85%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-side-rider {
    width: 85%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

#rider1 {
    background: url(../images/will.jpg) center;
    background-size: cover;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
}

#rider2 {
    background: url(../images/david.jpg) center;
    background-size: cover;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
}

#rider3 {
    background: url(../images/george.jpg) center;
    background-size: cover;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
}

#rider4 {
    background: url(../images/john.jpg) center;
    background-size: cover;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
}

/* Information and Requirements */

#info-req {
    height: 600px;
    width: 50%;
    float: left;
}

#information h2 {
    text-align: center;
    padding: 30px;
    font-size: 200%;
}

#info-list {
    list-style: circle;
    padding-left: 40px;
}

#require h2 {
    text-align: center;
    padding: 30px;
    font-size: 200%;
}

#require p {
    padding-left: 40px;
    padding-bottom: 10px;
    font-size: 130%;
}

#requ-list {
    list-style: circle;
    padding-left: 40px;
}

/* accompanying image for info and safety */

#helmet img {
    float: right;
    width: 50%;
    height: 600px;
}

/* footer */

footer {
    height: 100px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #664614;
}

/* Routes */

#routesh1 {
    clear: both;
    text-align: center;
    font-size: 180%;
}

#routes {
    width: 100%;
    height: 700px;
    padding-top: 10px;
}

#left-route, #center-route, #right-route {
    width: 32%;
    padding: 10px
}

/* Route headings */

#left-route h2, #center-route h2, #right-route h2 {
    text-align: center;
    font-size: 200%;
}

/* routes images */

#left-route img, #center-route img, #right-route img {
    height: 400px;
    width: 100%;
}

#left-route {
    float: left;
}

#right-route {
    float: right;
}

#center-route {
    margin: auto;
}

/* route paragrapths */

#routes p {
    padding-bottom: 10px;
    font-size: 120%;
}

/* route lists */

#routes ul {
    list-style-type: none;
    font-size: 120%;
}

/* Get In Touch */

.getintouch {
    clear: left;
    background: url(../images/getintouch.jpg) center;
    height: 900px;
    width: 100%;
    background-size: cover;
}

.form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.form h2 {
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1px solid #fafafa;
    border-radius: 2px;
}
.getintouch-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #4EAB0E;
    color: #fafafa;
    display: block;
}

.getintouch-button:hover {
    background-color: #fafafa;
    color: #4EAB0E;
}

/* Media queries */

@media screen and (max-width: 1200px) {
    #riders {
        width: 90%;
        margin: 0 auto;
    }

    #left-side, #right-side {
        width: 100%;
        float: left;
        padding: 0;
    }

    .left-side-rider, .right-side-rider {
        width: inherit;
    }

    .left-side-rider p, .right-side-rider p {
        text-align: center;
        padding: 0 20px;
    }

    #info-req {
        width: 100%;
        float: left;
    }

    #helmet img {
        width: 100%;
        margin: 0 auto;
    }

    #routes {
        height: 1800px;
    }

    #left-route, #center-route, #right-route {
        width: 80%;
        margin: auto;
        float: none;
    }
}

@media screen and (max-width: 950px){
    
    #logo{
        width: 100%;
        margin-left: 20px;
        
    }

    #menu {
        margin-left: 20px;
        clear: left;
        float: left;
    } 
    
    #introduction {
        height: 300px;
    }

    #info-req {
        height: 1000px;
        text-align: center;
    }

    #information li, #require li{
        width: 90%;
    }

    #require p {
        padding-left: 15px;
        font-size: 110%;
        width: 90%;
    }

    #helmet img {
        height: 200px;
    }

    footer {
        width: 100%;
        font-size: 70%;
    }

    #routes {
        height: 1950px;
    }

    #left-route, #center-route, #right-route {
        width: 90%;
    }

}

@media screen and (max-width: 350px) {
    #menu {
    font-size: 95%;
    }
}