@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #3a3a3a;
    background-color: #dad4c9;
}

/* headings */

h1, h2 {
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    color: #4EAB0E;
}

/* logo and nav */

#logo {
    float: left;
    font-size: 280%;
    margin-left: 25px;
}

#menu {
    font-size: 120%;
}

#logo, #menu {
    line-height: 80px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px; 
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    background-color: #4EAB0E;
    color: #fff;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-img.jpg) no-repeat center center;
    background-size: cover;
}

/* Welcome to Retro Bikes */

#introduction {
    height: 175px;
}

#welcome {
    font-size: 200%;
    text-align: center;
    padding: 20px;
}

#introduction p {
    text-align: center;
    padding: 0 10px;
}

/* Hear from the riders*/

#riders {
    height: 600px;
}

#hear-from {
    text-align: center;
    padding: 40px;
}

#left-side  {
    padding-top: 30px;
    width: 50%;
    float: left;
}

#right-side {
    padding-top: 30px;
    width: 50%;
    float: right;
}

.left-side-rider {
    width: 85%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-side-rider {
    width: 85%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

#rider1 {
    background: url(../images/will.jpg) center;
    background-size: cover;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
    margin-right: 40px;
}

#rider2 {
    background: url(../images/david.jpg) center;
    background-size: cover;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
    margin-right: 40px;
}

#rider3 {
    background: url(../images/george.jpg) center;
    background-size: cover;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
    margin-right: 40px;
}

#rider4 {
    background: url(../images/john.jpg) center;
    background-size: cover;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
    margin-right: 40px;
}

/* Information and Requirements */

#info-req {
    height: 600px;
    width: 50%;
    float: left;
}

#information h2 {
    text-align: center;
    padding: 30px;
    font-size: 200%;
}

#info-list {
    list-style: circle;
    padding-left: 40px;
}

#require h2 {
    text-align: center;
    padding: 30px;
    font-size: 200%;
}

#require p {
    padding-left: 40px;
    padding-bottom: 10px;
    font-size: 130%;
}

#requ-list {
    list-style: circle;
    padding-left: 40px;
}

/* accompanying image for info and safety */

#helmet img {
    float: right;
    width: 50%;
    height: 600px;
}

/* footer */

footer {
    height: 100px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #664614;
}